.side{
    background: #4357ad;
}
.contenido{
    background: #f2f2f2;
}
.barra-busqueda{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.empresas{
    border: 2px solid #0e2b37;
    border-radius: 10px;
}
.mayor_responsabilidad{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.formulario{
    text-align: center;
}
.campos-inic{
    margin-top: 15px;
}
.submit-inic{
    margin-top: 15px;
}
.contenedor-inic{
    margin-top: 45px;
    color: #2b78e4;
}
.titulo-form{
    font-size: 25px;
    margin-top: 15px;
}
.links-side{
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    padding: 5px 5px;
}
.links-side:hover{
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding: 10px 5px;
}